.policy_wrapper {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.policy_wrapper_label {
	color: var(--input-label);
}

.policy_wrapper_link {
	color: var(--text-1);
	font-size: 14px;
	font-weight: 500;
}

.policy_wrapper_link:hover {
	color: var(--accent);
}

.activation_wrapper {
	float: left;
	width: 100%;
}

.activation_wrapper_tip {
	font-size: 14px;
	color: var(--text-1);
}

.logo_wrapper {
	float: left;
	height: auto;
	width: auto;
}

.logo_wrapper_image {
	float: left;
	content: var(--logo);
	max-height: 50px;
}

.welcome_wrapper {
	float: left;
	width: 100%;
}

.welcome_wrapper_title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
	color: var(--text-1);
}

.welcome_wrapper_description {
	font-weight: 400;
	margin-bottom: 20px;
	color: var(--text-3);
}

.validator_wrapper {
	float: left;
	width: 100%;
	padding: 5px;
}

.input_wrapper {
	position: relative;
	float: left;
	width: 100%;
}

.input_wrapper_field {
	float: left;
	width: 100%;
	padding: 15px 50px 15px 50px;
	line-height: 1.5;
	font-weight: 400;
	font-size: var(--input-font-size);
	font-family: var(--input-font-family);
	background: var(--input-bg);
	border-radius: var(--input-radius);
	border: 1px solid var(--input-border);
	transition: all 0.6s;
}

.input_wrapper_field:hover,
.input_wrapper_field:focus {
	border: 1px solid var(--accent);
}

.input_wrapper_field:focus {
	box-shadow: 0px 0px 0px 5px var(--input-shadow);
}

.input_wrapper_show {
	cursor: pointer;
	float: right;
}

.input_wrapper_icon {
	display: inline;
	width: 25px;
	height: 25px;
	color: var(--input-icon);
	z-index: 2;
}

.input_wrapper_icon svg {
	float: left;
	width: 100%;
	height: 100%;
}

.input_wrapper_icon svg * {
	stroke: currentColor;
	stroke-width: 1.5;
}

.input_wrapper_icon_left {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 25px;
	height: 25px;
	transform: translateY(-50%);
	color: var(--input-icon);
}

.input_wrapper_icon_right {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 25px;
	height: 25px;
	transform: translateY(-50%);
	color: var(--input-icon);
}

.input_wrapper_icon_right svg path {
	stroke: var(--input-icon);
	stroke-width: 1;
}

.checkbox_wrapper {
	position: relative;
	float: left;
	width: auto;
}

.checkbox_wrapper_checkmark {
	float: left;
	width: auto;
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	background: var(--input-bg);
	border: 1px solid var(--input-border);
	border-radius: var(--input-radius);
	margin-right: 10px;
	z-index: 0;
}

.checkbox_wrapper_checkmark svg {
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	padding: 2px;
	color: #fff;
	background: var(--accent);
	border: 1px solid var(--accent);
	border-radius: var(--input-radius);
	text-align: center;
	z-index: 0;
}

.checkbox_wrapper_field {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	margin: 0px;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}

.rememeber_wrapper {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.rememeber_wrapper_left {
	float: left;
	max-width: 50%;
}

.rememeber_wrapper_right {
	float: right;
	max-width: 50%;
}

.rememeber_wrapper_link {
	font-weight: 500;
	font-size: 14px;
	padding-top: 5px;
	color: var(--text-1);
	transition: all 0.6s;
}

.rememeber_wrapper_link:hover {
	color: var(--accent);
}

.rememeber_wrapper_label {
	float: left;
	display: inline;
	font-weight: 400;
	padding-top: 2px;
	color: var(--input-label);
}

.label_wrapper {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	font-weight: 400;
	margin-top: 15px;
	padding-bottom: 5px;
	color: var(--input-label);
}

.button_wrapper {
	float: left;
	width: 100%;
	height: auto;
	margin-top: 25px;
	position: relative;
}

.button_wrapper_field {
	float: left;
	width: 100%;
	padding: 13px 20px;
	color: #fff;
	line-height: 1.5;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: var(--font-size);
	font-family: var(--font-family);
	box-shadow: inset 0px 0px 1px 2px rgb(0, 0, 0, 0.06),
		inset 0px 1px 0px 0px #e3f0ffaa;
	border: 1px solid var(--accent-hover);
	border-radius: var(--button-radius);
	background: var(--accent);
	transition: all 0.5s;
	cursor: pointer;
}

.button_wrapper_field:hover {
	background: var(--accent-hover);
}

.button_wrapper_field:disabled {
	background-color: #999;
	border-color: #777;
	color: #fff;
}

.signup_wrapper {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.signup_wrapper_text {
	color: var(--input-label);
	font-weight: 400;
}

.signup_wrapper_link {
	color: var(--text-1);
	font-weight: 500;
	font-size: 14px;
}

.signup_wrapper_link:hover {
	color: var(--accent);
}

.yesno_wrapper {
	float: left;
	width: 100%;
	padding: 0px;
	line-height: 1.5;
	font-weight: 400;
	font-size: var(--input-font-size);
	font-family: var(--input-font-family);
	background: var(--input-bg);
	border-radius: var(--input-radius);
	border: 1px solid var(--input-border);
	transition: all 0.6s;
	cursor: pointer;
}

.yesno_wrapper_yes {
	padding: 15px 20px;
	color: var(--accent);
}

.yesno_wrapper_no {
	padding: 15px 20px;
}

/* error message */

.alert_wrapper {
	float: left;
	width: 100%;
}

.alert_wrapper_error {
	font-weight: 400;
	font-size: 14px;
	padding: 10px;
	color: var(--alert-error);
	background: var(--alert-error-bg);
	/* border: 1px solid var(--alert-error); */
}

.alert_wrapper_info {
	font-weight: 400;
	font-size: 14px;
	padding: 10px;
	color: var(--alert-info);
	background: var(--alert-info-bg);
	/* border: 1px solid var(--alert-info); */
}

/* social login */

.social_wrapper {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.social_wrapper_divider {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 10px;
	text-align: center;
	border-top: 1px solid var(--input-border);
}

.social_wrapper_text {
	display: inline;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 5px 20px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	background: var(--bg-1);
	color: var(--input-label);
	border-radius: var(--border-radius);
}

.social_wrapper_list {
	float: left;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 25px;
}

.social_wrapper_button {
	display: inline;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45%;
	font-size: 14px;
	padding: 10px;
	margin-top: 15px;
	text-align: center;
	font-weight: 500;
	border-width: 2px;
	color: var(--text-1);
	border-radius: var(--button-radius);
	border: 1px solid var(--input-border);
	transition: all 0.6s;
}

.social_wrapper_button:hover {
	background-color: var(--input-border);
}

.social_wrapper_button img {
	display: inline;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

/* textarea */

.textarea_wrapper {
	position: relative;
	float: left;
	width: 100%;
}

.textarea_wrapper_field {
	float: left;
	min-width: 100%;
	max-width: 100%;
	min-height: 150px;
	max-height: 300px;
	padding: 15px;
	font-weight: 400;
	font-size: var(--input-font-size);
	font-family: var(--input-font-family);
	background: var(--input-bg);
	border-radius: var(--input-radius);
	border: 1px solid var(--input-border);
	transition: all 0.6s;
}

.textarea_wrapper_field:hover,
.textarea_wrapper_field:focus {
	border: 1px solid var(--accent);
}

.textarea_wrapper_field:focus {
	box-shadow: 0px 0px 0px 5px var(--input-shadow);
}

[color-scheme='dark'] {
	.social_wrapper_button img {
		filter: invert();
	}
}

.form_input_error {
	position: relative;
	border: 1px solid var(--alert-error) !important;
	z-index: 1 !important;
}

.form_input_error:focus {
	box-shadow: 0px 0px 0px 5px #ff225509;
}

/* tooltip */

.tooltip_wrapper {
	display: block;
	float: left;
	width: 100%;
	color: #fff;
	background: var(--alert-error);
	border-color: var(--alert-error);
	border-radius: 0px 0px var(--input-radius) var(--input-radius);
	font-size: 13px;
	font-weight: 600;
	padding: 20px 10px 10px 10px;
	margin-top: -10px;
	z-index: 0 !important;
}

.tooltip_wrapper_error {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 500;
}

.tooltip_wrapper_error svg {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.tooltip_wrapper_green {
	color: #55cc55;
}

/* Upload avatar */

#avatar_choose_file {
	flex-grow: 1;
	float: left;
	width: 100%;
	padding: 20px;
	margin: 0px;
	text-align: center;
	border-radius: var(--border-radius);
	color: var(--text-1);
	border: 2px dashed var(--divider);
}
#avatar_upload_button {
	display: inline-block;
	margin-top: 30px;
	padding: 10px 40px;
	background: transparent;
	font-weight: 500;
	color: var(--text-secondary);
	background: var(--bg-2);
	border-radius: var(--border-radius);
	cursor: pointer;
}
.avatar_upload_wrapper {
	float: left;
	width: 100%;
	height: auto;
}
.avatar_choose_info {
	float: left;
	width: 100%;
	padding: 10px;
	color: var(--text-secondary);
}
.avatar_input {
	position: relative;
	display: flex;
	display: block;
	float: left;
	width: 100%;
}
.avatar_delete {
	position: absolute;
	top: 85px;
	left: 85px;
	width: 42px;
	height: 42px;
	padding: 3px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	color: #fff;
	box-shadow: 0px 1px 3px #0001;
	border: 5px solid var(--bg-1);
	background: var(--accent);
	transition: all 0.6s;
}

.avatar_delete svg {
	position: relative;
	float: left;
	height: 26px;
	width: 26px;
}

.avatar_delete svg * {
	stroke: var(--text-1);
	stroke: var(--bg-1);
}

.avatar_delete:hover {
	background: #f25;
}

.avatar_image {
	float: left;
	min-width: 120px;
	max-width: 120px;
	min-height: 120px;
	max-height: 120px;
	padding: 5px;
	margin-right: 30px;
	margin-top: 10px;
	border-radius: 50%;
	object-fit: cover;
	background: var(--bg-2);
}

.select_wrapper_field {
	float: left;
	width: 100%;
	padding: 15px;
	line-height: 1.5;
	font-weight: 400;
	font-size: var(--input-font-size);
	font-family: var(--input-font-family);
	background: var(--input-bg);
	border-radius: var(--input-radius);
	border: 1px solid var(--input-border);
	transition: all 0.6s;
}
