:root {
	/* Tech blog */
	--b1: #0e1219;
	--b2: #141a22;
	--b3: #65676c;
	--b4: #e4e4e4;
	--b5: #ffc744;
	--b6: #990834;

	/* Minimal panel */
	--n1: #0046fe;
	--n2: #25bc6d;
	--n3: #d55e56;
	--n4: #9f9f9f;
	--n5: #d6d6d6;
	--n6: #e9e9e9;
}
