:root {
	--alert: #fa5845;
	--success: #09c384;

	/* Tech blog */
	--b1: #0e1219;
	--b2: #141a22;
	--b3: #65676c;
	--b4: #e4e4e4;
	--b5: #ffc744;
	--b6: #990834;

	/* Minimal panel */
	--c1: #0046fe;
	--c2: #25bc6d;
	--c3: #d55e56;
	--c4: #9f9f9f;
	--c5: #d6d6d6;
	--c6: #e9e9e9;

	/* Green Tech */
	--n: #76b900;
	--n: #91c733;
	--n: #01f02c;
	--n: #11f207;
}
