:root {
	--surface: #fff;
	--primary: #0071f5;
	--on-primary: #fff;
	--primary-50: rgba(0, 113, 245, 0.5);
	--secondary: #00d1ff;
	--on-secondary: #fff;
	--secondary-10: rgba(0, 209, 255, 0.1);
	--secondary-20: rgba(0, 209, 255, 0.2);
	--important: #1f2225;
	--on-important: #fff;
	--darkgray: #b3bcc6;
	--gray: #e2e6eb;
	--midgray: #e8eaf0;
	--lightgray: #f6f7fa;
	--text-color: #5f6771;
	--small-shadow: 0 4px 4px rgba(31, 34, 37, 0.08);
	--medium-shadow: 0 8px 16px rgba(31, 34, 37, 0.08);
	--primary-gradient: linear-gradient(135deg, var(--secondary) 25%, var(--primary) 75%);
	--alert: #fa5845;
	--success: #09c384;
}

.gray {
	--tw-gray-body: #374151;
	--tw-gray-headings: #111827;
	--tw-gray-lead: #4b5563;
	--tw-gray-links: #111827;
	--tw-gray-bold: #111827;
	--tw-gray-counters: #6b7280;
	--tw-gray-bullets: #d1d5db;
	--tw-gray-hr: #e5e7eb;
	--tw-gray-quotes: #111827;
	--tw-gray-quote-borders: #e5e7eb;
	--tw-gray-captions: #6b7280;
	--tw-gray-kbd: #111827;
	--tw-gray-kbd-shadows: 17 24 39;
	--tw-gray-code: #111827;
	--tw-gray-pre-code: #e5e7eb;
	--tw-gray-pre-bg: #1f2937;
	--tw-gray-th-borders: #d1d5db;
	--tw-gray-td-borders: #e5e7eb;
	--tw-gray-invert-body: #d1d5db;
	--tw-gray-invert-headings: #fff;
	--tw-gray-invert-lead: #9ca3af;
	--tw-gray-invert-links: #fff;
	--tw-gray-invert-bold: #fff;
	--tw-gray-invert-counters: #9ca3af;
	--tw-gray-invert-bullets: #4b5563;
	--tw-gray-invert-hr: #374151;
	--tw-gray-invert-quotes: #f3f4f6;
	--tw-gray-invert-quote-borders: #374151;
	--tw-gray-invert-captions: #9ca3af;
	--tw-gray-invert-kbd: #fff;
	--tw-gray-invert-kbd-shadows: 255 255 255;
	--tw-gray-invert-code: #fff;
	--tw-gray-invert-pre-code: #d1d5db;
	--tw-gray-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-gray-invert-th-borders: #4b5563;
	--tw-gray-invert-td-borders: #374151;
}
