@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Miriam+Libre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

code {
	font-size: 14px;
	font-family: 'JetBrains Mono';
}

code.highlight_code {
	float: left;
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
	background: var(--bg-2);
}

pre {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	border-radius: 3px;
	overflow-x: auto;
	scrollbar-width: thin;
}

.shiki {
	display: inline;
	box-sizing: border-box;
	font-size: 16px;
	scrollbar-width: thin;
	border: 1px solid var(--bg-3);
	padding: 10px;
}

.code {
	background: var(--bg-2);
	font-family: 'JetBrains Mono';
	color: #6f42c1;
	padding: 3px;
	border-radius: 3px;
}

/* Line numbers css */

pre {
	counter-reset: line;
}

.line {
	padding: 3px;
	counter-increment: line;
	float: left;
	width: 100%;
	/* border-bottom: 1px solid var(--bg-2); */
}

.line:before {
	float: left;
	content: counter(line);
	margin-right: 10px;
	width: 35px;
	color: var(--border);
}

.line:before {
	--webkit-user-select: none;
}

[color-scheme='dark'] {
	.shiki {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
	.shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
	.line:before {
		color: var(--border);
	}
}

/* Page, blog, articles */

.empty_list {
	float: left;
	width: 100%;
}

.empty_list > * {
	float: left;
	width: 100%;
}

.page_header_menu {
	float: left;
	width: 100%;
	padding-top: 10px;
	display: flex;
	align-items: center;
}

.page_top_menu_wrapper {
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
}

.page_top_menu {
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
}

.page_top_menu nav {
	float: left;
	width: 100%;
	padding-left: 20px;
}

.page_top_menu a {
	float: left;
	padding: 10px;
	margin: 5px;
	color: var(--text-1);
	text-transform: uppercase;
	transition: all 0.6s;
}

.page_top_menu a:hover {
	color: var(--accent);
}

.page_header_menu_btn {
	display: none;
	float: left;
	height: auto;
	padding: 20px;
	cursor: pointer;
}

.page_header_menu_btn svg {
	width: 25px;
	height: 25px;
}
.page_header_menu_btn svg * {
	stroke: var(--text-1);
}

.page_top_menu_btn_close {
	display: none;
	float: right;
	height: auto;
	cursor: pointer;
}

.page_top_menu_btn_close svg {
	width: 25px;
	height: 25px;
	color: var(--text-1);
}

.blog_link {
	color: var(--text-1);
}

.page_header {
	float: left;
	width: 100%;
	height: auto;
	color: var(--text-1);
	border-bottom: 1px solid var(--border);
}

.page_header_blog_link {
	color: var(--text-1);
}

.page_header_wrapper {
	display: block;
	margin: 0px auto;
	width: 90%;
	max-width: 1280px;
	padding-bottom: 25px;
	height: auto;
	padding-inline: 5px;
}

.page_header_banner_title {
	float: left;
	width: auto;
	margin-top: 90px;
	color: var(--text-1);
	background: var(--bg-1);
	opacity: 0.8;
	padding: 5px 20px;
	font-weight: 300;
	font-size: 40px;
}

.page_header_blog_title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}

.page_header_menu,
.page_header_details {
	float: left;
	width: 100%;
	height: auto;
}

.page_header_details {
	min-height: 130px;
}

.page_header_title {
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 0px;
}

.page_header_desc {
	float: left;
	width: 50%;
	min-height: 25px;
	margin-top: 0px;
}

.page_header_blog_categories {
	float: left;
	width: 100%;
	min-height: 55px;
	padding-block: 10px;
	overflow: hidden;
}

.blog_category_link {
	float: left;
	min-height: 25px;
	margin-right: 15px;
	margin-block: 5px;
	cursor: pointer;
}

.blog_category_link a {
	color: var(--text-1);
}

.blog_category_link a:hover {
	color: var(--accent);
}

.blog_header_link {
	float: left;
	min-width: 60px;
	overflow: hidden;
}

.blog_header_logo {
	height: 60px;
	min-width: 60px;
	margin: 10px;
	margin-left: 0px;
}

img.blog_header_logo {
	content: var(--logo);
	min-width: 60px;
}

.page_content {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	min-height: 480px;
}

.page_banner {
	float: left;
	width: 100%;
	height: 250px;
}

.page_banner img {
	float: left;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.page_content_wrapper {
	margin: 0px auto;
	width: 90%;
	height: auto;
	max-width: 1280px;
	min-height: 320px;
	padding-inline: 5px;
	padding-block: 40px;
}

.page_footer {
	float: left;
	width: 100%;
	padding: 0px;
	border-top: 1px solid var(--border);
}

.blog_article_html img {
	border-radius: var(--border-radius);
}

.blog_article_big_image {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.blog_article_big_image img {
	float: left;
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.blog_article_date,
.blog_article_excerpt,
.blog_article_title {
	float: left;
	width: 100%;
	min-height: 50px;
}

.blog_article_title {
	font-family: 'JetBrains Mono';
}

.blog_article_tag {
	float: left;
	padding: 5px 10px;
	margin-right: 10px;
	color: var(--text-2);
	background: var(--bg-3);
	border-radius: 25px;
}

.blog_article h1,
.blog_article h2,
.blog_article h3,
.blog_article h4,
.blog_article h5,
.blog_article h6 {
	font-family: 'JetBrains Mono';
	position: relative;
	float: left;
	width: 100%;
}

.blog_hash {
	left: -20px;
	color: #f25;
	font-weight: 300;
}

.blog_article {
	position: relative;
	margin: 20px auto;
	width: 90%;
	max-width: 750px;
	height: auto;
	min-height: 768px;
	padding: 20px;
}

.blog_article a {
	color: var(--text-1);
	padding-block: 5px;
	text-decoration: underline;
	font-family: 'Merriweather';
	font-family: 'JetBrains Mono';
}

.blog_article a:hover {
	color: var(--text-1);
	text-decoration: none;
}

.blog_article_img {
	float: left;
	width: 100%;
	margin-block: 20px;
	border-radius: var(--border-radius);
}

.blog_article_category {
	margin-right: 10px;
}

.blog_article_author {
	float: left;
	width: 100%;
	padding: 20px;
	margin-block: 25px;
	border: 1px solid var(--border);
	border-left: 2px solid var(--accent);
	display: flex;
	align-items: center;
}

.blog_article_author_avatar {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 20px;
	margin-left: 20px;
}

.blog_article_author_details_name {
	font-weight: 600;
	font-size: 23px;
}
.blog_article_author_details_bio {
	font-weight: 400;
	font-size: 16px;
}

@media all and (max-width: 768px) {
	.page_top_menu {
		display: none;
	}

	.page_top_menu_open {
		display: inherit;
	}

	.page_header_menu_btn {
		display: inherit;
	}

	.page_top_menu_btn_close {
		display: inherit;
	}

	.page_top_menu nav {
		background: var(--bg-1);
		padding: 20px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 10;
		box-shadow: 0px 0px 10px #0001;
	}
	.page_top_menu nav a {
		float: left;
		width: 100%;
	}
}

@media all and (max-width: 640px) {
	.blog_article_author {
		display: block;
	}

	.blog_article_author_avatar {
		margin-left: 0px;
	}

	.blog_article_author_details_bio {
		margin-bottom: 40px;
	}

	.blog_article {
		width: 95%;
		padding: 0px;
	}
}

/* Category */

.blog_list {
	float: left;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}

.blog_article_small {
	float: left;
	width: 30%;
	margin: 0px;
	margin-block: 25px;
	padding: 20px;
	height: auto;
	min-height: 200px;
	transition: all 0.6s;
	border-radius: var(--border-radius);
}

.blog_article_small:hover {
	box-shadow: 0px 0px 20px #00000011;
	transform: translateY(5px);
}

.blog_article_small_views {
	float: left;
	margin-right: 10px;
	display: flex;
	align-items: center;
	border-right: 1px solid var(--text-1);
}

.blog_article_small_views span {
	margin-left: 10px;
	margin-right: 10px;
}

.blog_article_small_category {
	float: left;
	width: auto;
	font-size: 14px;
	margin-right: 5px;
	margin-block: 5px;
}

.blog_article_small_category a {
	color: var(--text-1);
}

.blog_article_small_category a:hover {
	text-decoration: underline;
}

.blog_article_small_hidden {
	float: left;
	width: 31%;
	height: auto;
	margin: 0px;
	margin-block: 25px;
	padding: 0px;
	border: 1px solid var(--border);
	opacity: 0;
}

.blog_article_small img {
	float: left;
	width: 100%;
	height: auto;
	min-height: 200px;
	margin-bottom: 15px;
	overflow: hidden;
	object-fit: cover;
	aspect-ratio: 2/1;
	border-radius: var(--border-radius);
}

.blog_article_small_hash {
	color: #f25;
	margin-right: 10px;
}

.blog_article_small h2 {
	font-family: 'JetBrains Mono';
	position: relative;
	float: left;
	width: 100%;
	transition: all 0.6s;
	text-decoration: none;
	font-size: 18px;
	min-height: 60px;
	margin-block: 10px;
}

.blog_article_small p {
	float: left;
	width: 100%;
	margin-top: 0px;
	font-size: 15px;
	max-height: 96px;
	margin-bottom: 0px;
	overflow: hidden;
}

.blog_article_small h2 a {
	color: var(--text-1);
}

.blog_article_small h2:hover {
	color: var(--accent);
	cursor: pointer;
	text-decoration: underline;
}

.blog_paginator {
	float: left;
	width: 100%;
	padding: 20px 0px;
	margin-bottom: 50px;
}

.blog_prev_page {
	float: left;
	padding: 10px 20px;
	color: var(--bg-1);
	background: var(--text-1);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.blog_next_page {
	float: right;
	padding: 10px 20px;
	color: var(--bg-1);
	background: var(--text-1);
	border-radius: var(--border-radius);
	cursor: pointer;
}
.blog_page_btn {
	transition: all 0.6s;
}

.blog_page_btn:hover {
	background: var(--accent);
}

.blog_article_tags {
	float: left;
	width: 100%;
	height: auto;
	margin-block: 50px;
}

.author_articles {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.author_article_small {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.author_article_small_details {
	float: left;
	width: 100%;
	display: flex;
	align-items: start;
}

.author_article_small img {
	float: left;
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	aspect-ratio: 16/9;
	margin-right: 20px;
	margin-block: 20px;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.author_article_small_title,
.author_article_small_desc {
	float: left;
	width: 100%;
	height: auto;
}

.author_article_small_title {
	margin-bottom: 0px;
}

.splide {
	float: left;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: var(--border-radius);
}

.splide__slide img {
	float: left;
	width: 100%;
	aspect-ratio: 16/9;
}

@media all and (max-width: 1024px) {
	.blog_article_small,
	.blog_article_small_hidden {
		width: 48%;
	}
}

@media all and (max-width: 768px) {
	.blog_article_small,
	.blog_article_small_hidden {
		width: 100%;
	}

	.blog_article_small_hidden {
		display: none;
	}

	.page_header_details p {
		width: 90%;
	}

	.author_article_small_details {
		display: block;
	}

	.author_article_small img {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin-right: 0px;
		margin-bottom: 10px;
	}
}
