@import url('@/assets/css/root.css');

nav {
	float: left;
	width: 100%;
}

.menu-link {
	float: left;
	padding: 5px 10px;
	margin: 5px;
	color: #fff;
	background: var(--accent);
	font-size: 14px;
	border-radius: 10px;
}

@supports (-webkit-text-stroke: 1px black) {
	.text-stroke {
		color: black;
		-webkit-text-fill-color: white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}
}
