:root {
	--color-brown-1: #222124;
	--color-brown-2: #27241e;
	--color-brown-3: #31271f;
	--color-brown-4: #30292c;
	--color-brown-5: #3b3538;
	--color-brown-6: #9b9081;
	--color-brown-7: #d6a860;
	--color-brown-8: #dab176;
	--color-brown-9: #d9b888;
	--color-black-1: #141414;
	--color-black-2: #181818;
	--color-black-3: #1e1e1e;
	--color-black-4: #252525;
	--color-black-5: #2c2c2c;
	--color-black-6: #303030;
	--color-black-7: #3c3c3c;
	--color-gray-1: #bfbfbf;
	--color-gray-2: #bfcccc;
	--color-gray-3: #cecece;
	--color-gray-4: #d6d6d6;
	--color-gray-5: #eeeeee;
	--color-gray-6: #eff1f5;
	--color-gray-7: #f4f5f6;
	--color-gray-8: #f6f6f6;
	--color-gray-9: #f8fafc;
	--color-blue-0: #0a48a5;
	--color-blue-1: #254bdc;
	--color-blue-2: #0060df;
	--color-blue-3: #0061cc;
	--color-blue-4: #005eff;
	--color-blue-5: #0082fb;
	--color-blue-6: #1e88e5;
	--color-blue-7: #1a73e8;
	--color-blue-8: #2864f6;
	--color-blue-9: #4376f9;
	--color-blue-10: #2a5ac9;
	--color-blue-11: #4066f6;
	--color-blue-12: #0e5cd8;
	--color-blue-13: #0e63e2;
	--color-red-1: #dd0732;
	--color-red-2: #ef0737;
	--color-red-3: #fe093a;
	--color-red-4: #ff355e;
	--color-red-5: #ff2233;
	--color-red-6: #ff2200;
	--color-red-7: #ff0000;
	--color-orange-1: #ff5524;
	--color-orange-2: #fd6e41;
	--color-orange-3: #ff9557;
	--color-orange-4: #ffb183;
	--color-yellow-1: #fcaf41;
	--color-yellow-2: #ffba39;
	--color-yellow-3: #ffcc00;
	--color-yellow-4: #fec737;
	--color-yellow-5: #ffd85f;
	--color-yellow-6: #fed95f;
	--color-yellow-7: #cff724;
	--color-yellow-8: #cafd40;
	--color-green-1: #142e1a;
	--color-green-2: #224e2d;
	--color-green-3: #327543;
	--color-green-4: #3f9454;
	--color-green-5: #20b954;
	--color-green-6: #00d230;
	--color-green-7: #6ffd40;
	--color-green-8: #a5fd40;
	--color-alert-blue: #2b43c6;
	--color-alert-blue-bg: #e6f4ff;
	--color-alert-green: #0cce6b;
	--color-alert-green-bg: #baecd2;
	--color-alert-red: #ed1c24;
	--color-alert-red-bg: #ffe5e9;
	--color-alert-black: #ededed;
	--color-alert-black-bg: #161616;
	--color-alert-grey: #e9e9eb;
	--color-alert-grey-bg: #c5c5c5;
	--hr-divider: #6e6d7a;
	--btn-border-color: #e7e7e9;
	--btn-border-color-hover: #dbdbde;
	--fx-1: #94fe0d;
	--fx-2: #ff6534;
	--fx-3: #d4d7d0;
	--uber-green: #3dc95c;
	--uber-green-light: #e2f7e7;
	--uber-black: #1b1a1d;
}
