:root {
	--glue-grey-0: #fff;
	--glue-grey-25: #f1f1f1;
	--glue-grey-50: #f8f9fa;
	--glue-grey-100: #f1f3f4;
	--glue-grey-200: #e8eaed;
	--glue-grey-300: #dadce0;
	--glue-grey-400: #bdc1c6;
	--glue-grey-500: #9aa0a6;
	--glue-grey-600: #80868b;
	--glue-grey-700: #5f6368;
	--glue-grey-800: #3c4043;
	--glue-grey-900: #202124;
	--glue-blue-50: #e8f0fe;
	--glue-blue-100: #d2e3fc;
	--glue-blue-200: #aecbfa;
	--glue-blue-300: #8ab4f8;
	--glue-blue-400: #669df6;
	--glue-blue-500: #4285f4;
	--glue-blue-600: #1a73e8;
	--glue-blue-700: #1967d2;
	--glue-blue-800: #185abc;
	--glue-blue-900: #174ea6;
	--glue-green-50: #e6f4ea;
	--glue-green-100: #ceead6;
	--glue-green-200: #a8dab5;
	--glue-green-300: #81c995;
	--glue-green-400: #5bb974;
	--glue-green-500: #34a853;
	--glue-green-600: #1e8e3e;
	--glue-green-700: #188038;
	--glue-green-800: #137333;
	--glue-green-900: #0d652d;
	--glue-red-50: #fce8e6;
	--glue-red-100: #fad2cf;
	--glue-red-200: #f6aea9;
	--glue-red-300: #f28b82;
	--glue-red-400: #ee675c;
	--glue-red-500: #ea4335;
	--glue-red-600: #d93025;
	--glue-red-700: #c5221f;
	--glue-red-800: #b31412;
	--glue-red-900: #a50e0e;
	--glue-yellow-50: #fef7e0;
	--glue-yellow-100: #feefc3;
	--glue-yellow-200: #fde293;
	--glue-yellow-300: #fdd663;
	--glue-yellow-400: #fcc934;
	--glue-yellow-500: #fbbc04;
	--glue-yellow-600: #f9ab00;
	--glue-yellow-700: #f29900;
	--glue-yellow-800: #ea8600;
	--glue-yellow-900: #e37400;
	--glue-purple-100: #ea80fc;
	--glue-purple-900: #681da8;
}
